* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #ffffff;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --logo: #0f14a8;
  --mini-blue: rgba(15, 20, 168, 0.6);
  --black: #333333;
}
img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  //   padding: 15px;
  h1 {
    color: var(--logo);
    margin-right: auto;
  }
  ul {
    display: flex;
    margin-right: auto;
    justify-content: space-around;
    width: 60%;
    li {
      font-size: 16px;
      font-weight: 600;
    }
  }

  button {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--mini-blue);
    border: 0;
  }
}

.main_banner {
  margin-top: 60px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.20770306413581052) 0%,
    rgba(18, 118, 222, 0.55) 100%
  );
  min-height: 470px;
  //   align-items: center;
  .banner {
    display: flex;
    justify-content: center;
    min-height: 470px;
    max-width: 530px;
    // align-items: center;
    .inner {
      margin-top: 70px;
      text-align: center;
      h2 {
        font-size: 35px;
        font-weight: 800;
        color: var(--mini-blue);
        span {
          font-size: 37px;
          color: var(--logo);
        }
      }
      p {
        text-align: left;
        margin: 10px 0;
        color: rgba(83, 83, 77, 0.959);
      }
    }

    .search_field {
      max-width: 300px;
      height: 50px;
      //   margin-top: 40px;
      margin: 40px auto;
      border-radius: 5px;
      background-color: #f4f4f4;
      //   border: 1px solid teal;
      input {
        width: 222px;
        outline: 0;
        height: 47px;
        border: 0;
        background: #f4f4f4;
        font-size: 14px;
        font-weight: 500;
      }
      button {
        width: 50px;
        height: 35px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        border: 0;
        color: #ffffff;
        background-color: var(--logo);
      }
    }
  }
}

.main_blog {
  margin-top: 30px;
  .first_blog {
    .main_pic {
      border-radius: 10px;
      margin-bottom: 35px;
    }

    .component1 {
      //   margin-top: 35px;
      label {
        background-color: var(--mini-blue);
        color: rgba(49, 31, 56, 0.87);
        font-weight: 800;
        padding: 5px 15px;
        border-radius: 50px;
      }
      h3 {
        font-size: 30px;
        font-weight: 500;
        margin: 20px 0;
        line-height: 35px;
      }
      p {
        margin-bottom: 15px;
      }

      .by {
        display: flex;
        img {
          width: 45px;
          margin-right: 10px;
          height: 45px;
          border-radius: 50%;
        }

        // .name {
        // }
      }
    }
  }

  hr {
    border: 1px solid rgb(116, 116, 116);
    margin: 30px 0;
  }
}

.other_blog {
  .others {
    // background-color: #ffffff;

    margin-bottom: 50px;

    .main_pic {
      border-radius: 10px;
      margin-bottom: 35px;
    }

    .component1 {
      //   margin-top: 35px;
      // padding: 20px;
      label {
        background-color: var(--mini-blue);
        color: rgba(49, 31, 56, 0.87);
        font-weight: 800;
        padding: 5px 15px;
        border-radius: 50px;
      }
      h3 {
        font-size: 30px;
        font-weight: 500;
        margin: 20px 0;
        line-height: 35px;
      }
      p {
        margin-bottom: 15px;
      }

      .by {
        display: flex;
        img {
          width: 45px;
          margin-right: 10px;
          height: 45px;
          border-radius: 50%;
        }

        // .name {
        // }
      }
    }
  }
}
hr {
  border: 1px solid rgb(116, 116, 116);
  margin: 30px 0;
}

footer {
  background-color: #f4f4f4;
  min-height: 100px;
  .foot {
    padding: 20px 0;
    // max-width: 450px;
    h3 {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .new_mail {
      // border: 1px solid #ddd;
      background-color: #ffffff;
      max-width: 350px;
      height: 50px;
      margin-bottom: 15px;
      border-radius: 50px;
      input {
        height: 47px;
        background: transparent;
        border: 0;
        border-radius: 50px;
        width: 254px;
        outline: 0;
        padding: 15px;
      }

      button {
        width: 70px;
        height: 35px;
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;
        border: 0;
        cursor: pointer;
        background-color: var(--logo);
        border-radius: 50px;
      }
    }
    p {
      max-width: 450px;
    }

    .copyr {
      p {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin: 20px auto;
      }

      ul {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
        li {
          a {
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navlinks {
    position: absolute;
    width: 35%;
    top: 60px;
    right: 0;
    flex-direction: column;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    text-align: left;
    padding: 20px;
    transform: translateX(768px);
    transition: 0.7s ease;
    li {
      margin-top: 15px;
    }
  }

  .navlinks.active {
    transform: translateX(0px);
  }

  .hamburger {
    div {
      width: 25px;
      height: 3px;
      background-color: var(--black);
      transition: 0.4s ease;
      margin: 5px;
    }
  }
  .away {
    display: none;
  }
}

// .flexbox {
//   display: flex;
//   justify-content: space-around;
// }
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
  .copyr {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  footer .foot .copyr ul {
    width: 35%;
    margin: 0;
  }
  footer .foot .copyr p {
    margin: 0;
    text-align: left;
  }
  .other_blog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .other_blog .others {
    width: 32.3%;
    margin-bottom: 50px;
  }
  .main_banner .banner {
    max-width: 646px;
    .inner h2 {
      font-size: 45px;
      span {
        font-size: 48px;
      }
    }
  }
  .num1 {
    display: flex;
    .main_pic {
      width: 45%;
      margin-right: auto;
      margin-bottom: 0;
    }
    .component1 {
      margin-top: 10px;
      width: 50%;
    }
  }
}
